@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';

@font-face {
  font-family: 'Galaxie Copernicus';
  src: url('/GalaxieCopernicus-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
}

.faded {
  opacity: 0.5;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.font-galaxie {
  font-family: 'Galaxie Copernicus', serif;
}
