name: Run recursion Tests on PR
on:
  pull_request:
    paths:
      - "recursion/**"
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  test:
    defaults:
      run:
        working-directory: recursion
    permissions:
      issues: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.2
        with:
          toolchain: stable

      - name: Install bb
        run: |
          curl -L https://raw.githubusercontent.com/AztecProtocol/aztec-packages/refs/heads/master/barretenberg/bbup/install | bash
          echo "PATH=$PATH:/home/runner/.bb" >> $GITHUB_ENV

      - name: Run bbup
        run: |
          bbup

      - name: Build circuits
        run: |
          ./build.sh
        working-directory: recursion/circuits
        
      - name: Install npm-check-updates and upgrade dependencies
        if: github.event_name == 'schedule'
        working-directory: recursion/js
        run: |
          npm install -g npm-check-updates
          ncu -u
          
      - name: Install JS dependencies
        working-directory: recursion/js
        run: |
          yarn install

      - name: Generate proof in JS
        run: |
          yarn generate-proof
        working-directory: recursion/js

      - name: Create issue on failure (nightly)
        if: failure() && github.event_name == 'schedule'
        uses: actions/github-script@v6
        with:
          script: |
            github.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: '[Nightly] Recursion workflow failed',
              body: `The nightly Recursion workflow failed. Please investigate.\n\n/cc @noir-lang/developerrelations`,
              labels: ['nightly', 'bug']
            })
