name: Run web-starter Playwright Tests on PR
on:
  pull_request:
    paths:
      - "web-starter/**"
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      issues: write

    steps:
      - uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.2
        with:
          toolchain: stable

      - name: Install bb
        run: |
          curl -L https://raw.githubusercontent.com/AztecProtocol/aztec-packages/refs/heads/next/barretenberg/bbup/install | bash
          echo "PATH=$PATH:/home/runner/.bb" >> $GITHUB_ENV

      - name: Run bbup
        run: |
          bbup

      - name: Build circuits
        run: |
          cd web-starter/circuits && ./build.sh

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install JS dependencies (vite)
        working-directory: web-starter/web/vite
        run: |
          yarn install

      - name: Install Playwright Browsers (vite)
        working-directory: web-starter/web/vite
        run: |
          yarn playwright install --with-deps

      - name: Run Playwright tests (vite)
        working-directory: web-starter/web/vite
        run: |
          yarn test:e2e

      - name: Install JS dependencies (webpack)
        working-directory: web-starter/web/webpack
        run: |
          yarn install

      - name: Install Playwright Browsers (webpack)
        working-directory: web-starter/web/webpack
        run: |
          yarn playwright install --with-deps

      - name: Run Playwright tests (webpack)
        working-directory: web-starter/web/webpack
        run: |
          yarn test:e2e

      - name: Install JS dependencies (next)
        working-directory: web-starter/web/nextjs
        run: |
          yarn install

      - name: Install Playwright Browsers (next)
        working-directory: web-starter/web/nextjs
        run: |
          yarn playwright install --with-deps

      - name: Run Playwright tests (next)
        working-directory: web-starter/web/nextjs
        run: |
          yarn test:e2e

      - name: Create issue on failure (nightly)
        if: failure() && github.event_name == 'schedule'
        uses: actions/github-script@v6
        with:
          script: |
            github.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: '[Nightly] Web-starter Playwright workflow failed',
              body: `The nightly Web-starter Playwright workflow failed. Please investigate.\n\n/cc @noir-lang/developerrelations`,
              labels: ['nightly', 'bug']
            })
